.title {
  background: #79f29d;
}
.test {
  width: 200px;
  height: 200px;
  color: red;
  background: url("~@/assets/cropped_img2.png") no-repeat center / 100% 100%;
}
.a2 :global .demo {
  font-size: 24px;
}
